@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* shared style */
body{
   margin: 0;
   padding: 0;
}



/* header style */
/* nav style */
.navbar{
   max-width: 1200px;
   display: flex;
   justify-content: space-between;

   margin: 87px auto 50px auto;
}
.nav-items-container{
   display: flex;
   align-items: center;
   gap: 34px;

   
}
.brand{
   font-size: 1.5rem;
   font-weight: 700;
   color: #3A3A3A;
}
.navbar a{
   text-decoration: none;
   color: black;
   font-weight: 600;
}

/* Responsive design for mobile device */
/* nav */
@media screen and (max-width:576px) {
   .navbar{
      text-align: center;
   }
   .navbar, .nav-items-container{
      flex-direction: column;
      justify-content: center;
      width: 100%;
   }
   .nav-items-container{
      gap: 20px;
   }
}